@CHARSET "UTF-8";
/*条件搜索框*/
.limit {
    border: 1px solid #eee;
    height: auto;
    width: 100%;
}

.limit .top {
    padding: 0;
    text-align: left;
    vertical-align: middle;
}
.limit tr td {
    font-size: 13px;
    white-space: nowrap;
    word-break: keep-all;
}
.limit .date_control td {
    line-height: 40px;
}
.control-group {
    display: inline-block;
    margin-left: 12px;
}
.hasDatepicker {
    border: 1px solid #eee;
    border-radius: 3px;
    height: 28px;
    padding-left: 12px;
    width: 100px;
}
.al_search{
    padding: 5px 0;
}

.al_search .searchbox {
    border: 1px solid #eee;
    border-radius: 3px;
    height: 28px;
    margin: 0;
    padding-left: 12px;
    width: 100px;
}
.al_search .searchbtn {
    height: 28px;
    margin-left: 0;
    width: 40px;
}

.limitbox{
    line-height: 30px;
}

#tabs{
    margin: 10px auto;
    width: 98%;
}
#tab_btn_box{
    margin: 0;
    padding: 0;
    height: 33px;
    background: #e9e9e9;
}
#tab_btn{
    background: none;
    border: none;
    float: right;
    margin: 1px 0 0 0;
    padding: 0;
    margin-right: 20%;
}
#tab_btn li{
    margin: 0 2px; 
}
#downloadList table{
    font-size: 13px;
    margin: 10px auto;
    width: 98%;
}
#downloadList table tr td{
    height: 30px;
    line-height: 30px;
}
#downloadList table a{
    color: #317082;
    font-size: 13px;
}
#downloadList table a:hover {
    cursor: pointer;
    text-decoration: underline;
}
#downloadList table tr:nth-child(1)
{
background:#f6f6f6;
}


/*我的账务*/

#AccountList table{
    font-size: 13px;
    margin: 5px auto;
    width: 100%;
}
#AccountList table tr td{
    height: 30px;
    line-height: 30px;
}
#AccountList table a{
    color: #317082;
    font-size: 13px;
}
#AccountList table a:hover {
    cursor: pointer;
    text-decoration: underline;
}
#AccountList table tr:nth-child(1)
{
background:#f6f6f6;
}

.accitems{
    width: 50%;
    line-height: 40px;
    margin: 5px auto;
}
