@CHARSET "UTF-8";
#tip-validatecode{
    padding-left: 102px;
}

.reg_header {
    background: none repeat scroll 0 0 #FFFFFF;
    border-bottom: 1px solid #E3E3E3;
    height: 75px;
    width: 100%;
}

.reg_container {
    margin:0 auto;
    width: 1200px;
    background: none repeat scroll 0 0 #F9F9F9;
    height: auto;
    overflow: hidden;
    min-height: 400px;
    padding-bottom: 50px;
}
.reg_container h2{
    text-indent:1em;
    color:#999;
    font-size:24px;
    width:120px;
    margin:0 auto; 
    margin-top:20px;
}
/*--------------------------------表单 starr-----------------*/
.reg_content {
    clear: both;
    margin: 0 auto;
    padding: 10px 0;
    width: 100%;
    background: #FFF;
    height: auto;
    overflow: hidden;
}

.ui-form-top {
    color: #7C7C7C;
    font-size: 14px;
    padding-top: 25px;
    text-align: center;
}


.ui-form-content {
    margin: 20px 0 0 100px;
    width: 700px;
}

    .ui-form-content dl {
        margin: 0 auto;
        width: 480px;
    }

        .ui-form-content dl dt {
            text-align: right;
            width: 60px;
            height: 30px;
            padding-top: 20px;
        }

        .ui-form-content dl dd {
            width: 200px;
            height: 40px;
            padding: 5px 0 5px 10px;
        }

    .ui-form-content .radiobtns {
        margin-top: 12px;
        height: 30px;
    }

        .ui-form-content .radiobtns input[type="radio"] {
            margin-left: 10px;
            vertical-align: text-bottom;
        }

    .ui-form-content .submit .account {
        display: block;
        color: #999;
    }


    .ui-form-content dl dd input[type="text"] {
        height: 35px;
        width: 200px;
        border: 1px solid #ddd;
    }

        .ui-form-content dl dd input[type="text"]:hover {
            border: 1px solid #333;
        }

    .ui-form-content dl dt, .ui-form-content dl dd {
        float: left;
    }

.reg_form {
    margin:10px auto;
    padding: 0 20px 20px;
    width: 640px;
    height: auto;
    border: 1px solid #ccc;
    border-radius: 6px;
}

.reg_form h2{
    line-height: 40px;
    border-bottom: 1px solid #ccc;
}
    .reg_form table {
        border: none;
    }

        .reg_form table tr td {
            height: 40px;
            padding: 5px;
        }




            .reg_form table tr td span img {
                vertical-align: text-bottom;
            }

        .reg_form table tr .first_td {
            width: 80px;
            font-size: 14px;
            font-family: "微软雅黑";
            text-align: right;
        }

.txtAccount {
    font: bold 14px/22px "微软雅黑";
}

.form_item {
    font-size: 14px;
    min-height: 30px;
    
    margin-left: 30px;
    width: 560px;
}

div.form_item:nth-child(odd)
{
background:#F6F6F6;
}
    .form_item label {
        height: 40px;
        display: inline-block;
        width: 80px;
        padding-right: 10px;
        text-align: right;
        font: normal 14px/40px "微软雅黑";
        vertical-align: middle;
    }
    .form_item .star{
        display: inline-block;
        width: 12px;
    }



    .form_item input[type="text"], .reg_form table input, .form_item input[type="password"] {
        width: 280px;
        background: #FFF;
    }

    .form_item input[type="radio"] {
        margin: 0 5px;
    }
        .form_item input[type="radio"]:hover {
        cursor: pointer;
    }

form input.text-input, .reg_form table input {
    padding: 5px 6px;
    font-size: 13px;
    background: #fff url('/Images/bg-form-field.gif') top left repeat-x;
    border: 1px solid #d5d5d5;
    color: #333;
}

.ui-form-content .form_item .submit_right {
    margin-left: 90px;
}

.reg_form .form_item .submit_right {
    margin-left: 96px;
}


#btnSendVerCode {
    margin-left: 80px;
}

.VerCode_item {
    margin-top:0;
}

* + html #btnSendVerCode /*ie7bug修正*/ {
    margin-left: -11px;
}

input[type="text"].validatecode {
    width: 134px;
}

.typeahead {
    margin-top: 2px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

form input:focus {
    outline: 0;
    outline: thin dotted \9; /* IE6-9 */
    border: 1px solid #317082 ;

}
#txt_ValidateCodeTip {
    margin-left:41px;
}
.submit {
    background: #ff811d none repeat scroll 0 0;
    border: medium none;
    border-radius: 6px;
    color: #fff;
    font-size: 16px;
    height: 36px;
    line-height: 30px;
    margin-top:20px;
    margin-left: 80px;
    width: 260px;
}
input[disabled].submit  {
    cursor: default;
    background: #eee none repeat scroll 0 0;
    border: medium none;
    border-radius: 6px;
    color: #666;
    font-size: 16px;
    height: 36px;
    line-height: 30px;
    margin-top:20px;
    margin-left: 80px;
    width: 260px;
}


.submit:hover {
    background-position: 0 -45px;
    cursor: pointer;
}

.submit_right:hover {
    background-position: right -222px;
    cursor: pointer;
}
.onError
{

    display: inline-block;
    height: 30px;
  
    background:url(/Images/logoes/onError.gif) 0 4px no-repeat;
    padding-left:25px;
    font-size: 12px;
    line-height:30px; 
    vertical-align:middle;
    margin-left:12px;
}

.onCorrect
{
   
    display: inline-block;
    height: 30px;
    
    background:url(/Images/logoes/onCorrect.gif) 0 4px no-repeat;
    padding-left:25px;
    font-size: 12px;
    line-height:30px; 
    vertical-align:middle;
    margin-left:12px;
}