@CHARSET "UTF-8";
.leftbox{
	float:left;
	width: 298px;
	
}
.leftbox h2{
  text-indent: 12px;
  height: 30px;
  font:normal 16px/30px 'Microsoft YaHei ';
  color: #fff;
  background: #317082;
}

.leftcontent{
	padding: 5px 0;
}
.mainbox{
	float:right;
	width: 900px;
}
.classify{
	margin-left: 6px;
	height: auto;
	overflow: hidden;
}
.classify ul li{
	display: inline-block;
	float: left;
	margin-left: 5px;
	height: 30px;
	line-height: 30px;
}
.classify ul li.first{
	
	width: 30px;
}


/*焦点图+新闻*/
        img {
            border: 0;
        }

        a {
            text-decoration: none;
            color: #317082 ;
        }

        a:hover {
               text-decoration:underline;
            }
  





/*----------------------------*/
.topmain{
	height: auto;
	overflow: hidden;
}

/*焦点图*/
#focus{
	margin: 0 10px;
	float: left;
}
.slideBox {
    border: 1px solid #ddd;
    height: 230px;
    overflow: hidden;
    position: relative;
    width: 600px;
}
.slideBox .hd {
    bottom: 5px;
    height: 22px;
    overflow: hidden;
    position: absolute;
    right: 5px;
    z-index: 1;
}
.slideBox .hd ul {
    float: left;
    overflow: hidden;
}
.slideBox .hd ul li {
    background: #f6f6f6 none repeat scroll 0 0;
    cursor: pointer;
    float: left;
    height: 22px;
    line-height: 22px;
    margin-right: 5px;
    border-radius: 3px;
    text-align: center;
    width: 22px;
}
.slideBox .hd ul li.on {
    background: #538593 none repeat scroll 0 0;
    color: #fff;
}
.slideBox .bd {
    height: 100%;
    position: relative;
    z-index: 0;
}
.slideBox .bd li {
    vertical-align: middle;
}
.slideBox .bd img {
    display: block;
    height: 254px;
    width: 600px;
}
.slideBox .prev, .slideBox .next {
    background: rgba(0, 0, 0, 0) url("/Images/slider-arrow.png") no-repeat scroll -110px 5px;
    display: block;
    height: 40px;
    left: 3%;
    margin-top: -25px;
    opacity: 0.5;
    position: absolute;
    top: 50%;
    width: 32px;
}
.slideBox .next {
    background-position: 8px 5px;
    left: auto;
    right: 3%;
}
.slideBox .prev:hover, .slideBox .next:hover {
    opacity: 1;
}
.slideBox .prevStop {
    display: none;
}
.slideBox .nextStop {
    display: none;
}
/*新闻*/
.news{
	float: right;
	width: 250px;
}
.news h2{
	padding-left: 12px;
	height: 30px;
	line-height: 30px;
	color: #317082;
	background: #eeeeee;
}
.news ul li{
   height:22px;
   line-height: 22px;
}

/*mainbox栏目*/
.mainitem{
	height: auto;
	overflow: hidden;
}
.mainitem h2{
	height: 30px;
    line-height: 30px;
}
/*新书栏目*/
	.picScroll-left {
    overflow: hidden;
    position: relative;
}
.picScroll-left .hd {
	margin-left: 10px;
    background: #f4f4f4 none repeat scroll 0 0;
    height: 30px;
    overflow: hidden;
    padding: 0 10px;
    border-radius: 3px;
}
.picScroll-left .hd  h2{
   font:normal 16px/30px "Microsoft YaHei";
   color: #317082;
   text-indent: 6px;
}
.picScroll-left .hd .prev, .picScroll-left .hd .next {
    background: rgba(0, 0, 0, 0) url("/Images/left_right.png") no-repeat scroll  -6px -7px;
    cursor: pointer;
    display: block;
    float: right;
    height: 18px;
    margin-right: 5px;
    margin-top: 5px;
    overflow: hidden;
    width: 18px;
}
.picScroll-left .hd .next {
    background-position: -34px -7px;;
}
.picScroll-left .hd .prevStop {
    background-position: -6px -40px;
}
.picScroll-left .hd .nextStop {
    background-position: -34px -40px;
}
.picScroll-left .hd ul {
    float: right;
    margin-top: 10px;
    overflow: hidden;
}
.picScroll-left .hd ul li {
    background: rgba(0, 0, 0, 0) url("/Images/icoCircle.png") no-repeat scroll 0 -9px;
    cursor: pointer;
    float: left;
    height: 9px;
    margin-right: 5px;
    overflow: hidden;
    text-indent: -999px;
    width: 9px;
}
.picScroll-left .hd ul li.on {
    background-position: 0 0;
}
.picScroll-left .bd {
    padding: 10px;
}
.picScroll-left .bd ul {
    overflow: hidden;
}

.picScroll-left .bd ul li.pic {
    
	 overflow: hidden;
    text-align: center;
    
    box-sizing:border-box;
    display: block;
    float: left;
    height: 200px;
    margin-right:10px;
    padding: 9px 0;
    width: 170px;
    
}
.picScroll-left .bd ul li.pic img {
    height: 150px;
    width: 150px;
}

.picScroll-left .bd ul li.pic:hover{
    border-color: #317082;
}
.picScroll-left .bd ul li.pic a.title {
	display: inline-block;
    text-align: left;
}

/*用户动态*/
.slideTxtBox {
    text-align: left;
    width: 298px;
}
.slideTxtBox .hd {
    margin-top: 10px;
    border-bottom: 1px solid #ddd;
    height: 30px;
    line-height: 30px;
    padding: 0 10px 0 20px;
    position: relative;
}
.slideTxtBox .hd ul {
    float: left;
    height: 32px;
    left: 20px;
    position: absolute;
    top: -1px;
}
.slideTxtBox .hd ul li {
    cursor: pointer;
    float: left;
    padding: 0 15px;
}
.slideTxtBox .hd ul li a{
    color: #999;
}
.slideTxtBox .hd ul li.on {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: #317082 none repeat scroll 0 0;
    border-color: #317082;
    border-image: none;
    color: #fff;
    border-radius:3px 3px 0 0; 
}
.slideTxtBox .hd ul li.on a{
    color: #fff;
}
.slideTxtBox .bd ul {
    padding: 15px;
}
.slideTxtBox .bd li {
    height: 24px;
    line-height: 24px;
}

.slideTxtBox .arrow {
    position: absolute;
    right: 10px;
    top: 0;
}
.slideTxtBox .arrow a {
    background: rgba(0, 0, 0, 0) url("/Images/arrow.png") no-repeat scroll 0 0;
    cursor: pointer;
    display: block;
    float: right;
    height: 9px;
    margin-right: 5px;
    margin-top: 10px;
    overflow: hidden;
    width: 5px;
}
.slideTxtBox .arrow .next {
    background-position: 0 -50px;
}
.slideTxtBox .arrow .prevStop {
    background-position: -60px 0;
}
.slideTxtBox .arrow .nextStop {
    background-position: -60px -50px;
}

/*用户动态*/

.s_loginid{
	display: inline-block;
	width:130px;
}
.s_type{
	width: 70px;
	text-align: center;
	display: inline-block;
	
}
.s_value{
	width: 58px;
	text-align: right;
display: inline-block;
}
.s_right{
	display: inline-block;
	float: right;
}
